<footer class="text-center text-white" style="background-color:rgba(0, 0, 0, 0.3);color:whitesmoke;font-weight:bolder;">
    <div class='conntaner-fluid' style='background-color: darkblue;'><span>Contributors to this project</span> <br/></div>
    <div class="container-lg conntaner-fluid">
        <div class="row">
          <div class="col-sm">
            Vaibhav Vishwanath <br/>
            <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/vaibhav-vishwanath"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          >   <i class="fab fa-linkedin"></i
        ></a>
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:vavish@iu.edu"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-envelope"></i
        ></a>    
          </div>
          <div class="col-sm">
            Amol Sangar <br/>
            <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/amol-sangar"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          >   <i class="fab fa-linkedin"></i
        ></a>
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:asangar@iu.edu"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-envelope"></i
        ></a>
          </div>
          <div class="col-sm">
            Bhushan Patil <br/>
            <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/bhushan-patil3819"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          >   <i class="fab fa-linkedin"></i
        ></a>
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:bpatil@iu.edu"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-envelope"></i
        ></a>
          </div>
        </div>
      </div>
        
      
        <!-- Linkedin -->
        
        
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/airavata-courses/Puzzles"
          role="button"
          target="_blank"
          data-mdb-ripple-color="dark"
          > <i class="fab fa-github"></i>   Visit our GitHub repository       
            </a>
  
      
  
    <div class="text-center text-dark p-1" style="background-color: rgba(0, 0, 0, 0.2);">
     
      <p class="text-dark">This webpage has been developed as part of CSCI-B649 Applied Distributed Systems Course at IU Bloomington</p>
    </div>
    <!-- Copyright -->
  </footer>