.icon{
  vertical-align: middle;
  font-size: 50px;
}
span{
font-weight: bolder;

}
#logo:hover{
  background-color: gainsboro;
}

#username:hover{
  background-color: gainsboro;
}
#logo{
  padding: 1%;
  
}
#logout{
  padding: 1%;
  
  
}
#logoutbtn{
  padding:0;
  margin: 0;
}
#logout:hover{
  background-color: gainsboro;
}
#username{
  padding: 1%;
  font-size: 30px;
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
  padding: 0;
}